body {
	font-family: 'Barlow', 'sans-serif';
}

.main-container {
	display: flex;
	justify-content: center;
	background-color: #C4B2BE;
	/*background-image: url(photos/backimage2.jpg);*/


}

.container {
	background-image: url(photos/editedImage3.jpg);
	background-repeat: no-repeat;
	height: 755px;	
	width: 1004px;
}

header {
	opacity: 0.7;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.main-nav {
	width: 50%;
}

.main-nav ul {
	display: flex;
	justify-content: space-around;
}

.main-nav li {
	font-size: 1.2rem;
	padding-top: 21px;
	color: white;
}

.info-section {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	height: 100px;
	
}

.info-box {
	width: 50%;
	height: 90px;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	
}

.text-box {
	
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
}

.text-box p {
	font-size: 1.10rem;
	font-weight: 300;
	color: white;
	letter-spacing: 2px;
}

.text-box a {
	text-decoration: none;
	color: white;
}

.text-box a:hover {
	font-size: 105%;
}

.review-bar {
	height: 250px;
	background-color: #F4EEF2;
	display: flex;
	justify-content: space-between;
	padding: 20px 20px;	
}

.review-box {
	width: 19%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.review-box img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 2px solid #551425;
}



.menu-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #C4B2BE;
	padding-bottom: 150px;
}

.menu-nav h2 {
	font-family: 'Fondamento', cursive;
	font-size: 3rem;
	color: white;
	text-align: center;
	margin-top: 100px;
}

.menu-nav {
	width: 400px;


}
.menu-page ul {
	display: flex;
	justify-content: space-between;
	margin: 80px 0px;
	color: white;
}

.menu-page li {
	font-size: 1.3rem;
}

.menu {
	background-color: #424141;
	padding: 50px 50px;
}


.menu img {
	width: 100%;

}

footer {
	background-color: #EBE8EA;
	height: 100px;
}


